body{
font-family: Arial;
margin:0;
background:#d9ded4;
color:#333;
}

header{
display:flex;
justify-content:space-between;
padding:20px 40px;
background:#4c5748;
color:white;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
display:flex;
align-items:center;
padding:80px;
background:#4c5748;
color:white;
}

.hero-image img{
width:350px;
border-radius:50%;
}

.hero-text{
margin-left:60px;
}

.hero-text h1{
font-size:50px;
}

button{
padding:10px 20px;
border:none;
background:white;
border-radius:20px;
cursor:pointer;
}

.about{
padding:80px;
text-align:center;
}

.gallery{
display:flex;
gap:20px;
justify-content:center;
margin-top:30px;
}

.gallery img{
width:250px;
height:320px;
object-fit:cover;
}

.options{
padding:80px;
text-align:center;
}

.option-grid{
display:flex;
gap:40px;
justify-content:center;
}

.card{
width:250px;
}

.card img{
width:100%;
}

.reviews{
padding:80px;
background:#eee;
text-align:center;
}

.review-grid{
display:flex;
gap:40px;
justify-content:center;
}

.contact{
display:flex;
padding:80px;
gap:40px;
}

.contact-text{
width:50%;
}

.contact form{
display:flex;
flex-direction:column;
gap:10px;
}

.contact input, textarea{
padding:10px;
}

.contact-image img{
width:400px;
}

footer{
background:#1f2b1f;
color:white;
padding:60px;
}

.footer-grid{
display:flex;
justify-content:space-between;
}
