body {
font-family: Arial;
margin: 0;
background: #111;
color: white;
}

header {
background: #000;
padding: 20px;
text-align: center;
}

nav a {
color: white;
margin: 10px;
text-decoration: none;
}

.hero {
padding: 80px;
text-align: center;
background: linear-gradient(45deg,#1e3c72,#2a5298);
}

section {
padding: 50px;
text-align: center;
}

footer {
background: black;
padding: 20px;
text-align: center;
}
